# Title basics : extraction only for movies and TV  movies

In [182]:
import pandas as pd
import datetime as dt
from datetime import datetime

In [183]:
url = 'https://datasets.imdbws.com/title.basics.tsv.gz'

In [184]:
chunk_size = 1000
iterator = pd.read_csv(url, sep='\t', compression='gzip', iterator=True, chunksize=chunk_size, na_values=["\\N"])

In [185]:
cleaned_chunks = []
for chunk in iterator:

    if 'endYear' in chunk.columns:
        chunk.drop(columns=['endYear'], inplace=True)      #drop endYear
    chunk.drop(columns=['isAdult','runtimeMinutes'], inplace=True) #drop unused columns 'originalTitle'

    if 'genres' in chunk.columns:
        chunk.dropna(subset=['genres'], inplace=True)        #suppriner les colonnes ou le genre est nulls

    if 'runtimeMinutes' in chunk.columns:
        chunk['runtimeMinutes'] = pd.to_numeric(chunk['runtimeMinutes'], errors='coerce')      #convertir les valeurs de runtimeMinutes en numerique
        chunk.dropna(subset=['runtimeMinutes'], inplace=True)        #supprimer les lignes ou runtimeLinutes est null
        
    cleaned_chunks.append(chunk)

In [186]:
full_clean_basic_title = pd.concat(cleaned_chunks, ignore_index=True)      #concaterner mes chunks pour avoir un full dataset clean
print(full_clean_basic_title.info())
print(full_clean_basic_title.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10681472 entries, 0 to 10681471
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   titleType      object
 2   primaryTitle   object
 3   originalTitle  object
 4   startYear      float64
 5   genres         object
dtypes: float64(1), object(5)
memory usage: 489.0+ MB
None
          startYear
count  9.349033e+06
mean   2.006251e+03
std    1.988888e+01
min    1.874000e+03
25%    2.002000e+03
50%    2.013000e+03
75%    2.019000e+03
max    2.031000e+03

In [187]:
movie_types = ['movie', 'tvMovie']
df_title_basics_movies = full_clean_basic_title[full_clean_basic_title['titleType'].isin(movie_types)]
display(df_title_basics_movies)

df_title_basics_movies.info()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,1894.0,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897.0,"Documentary,News,Sport"
569,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906.0,"Action,Adventure,Biography"
586,tt0000591,movie,The Prodigal Son,L'enfant prodigue,1907.0,Drama
609,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,1907.0,Drama
...,...,...,...,...,...,...
10681391,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,2007.0,Documentary
10681396,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,2015.0,Drama
10681402,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,2013.0,Comedy
10681412,tt9916730,movie,6 Gunn,6 Gunn,2017.0,Drama
10681422,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013.0,Documentary

<class 'pandas.core.frame.DataFrame'>
Index: 755067 entries, 8 to 10681422
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         755067 non-null  object
 1   titleType      755067 non-null  object
 2   primaryTitle   755065 non-null  object
 3   originalTitle  755065 non-null  object
 4   startYear      656512 non-null  float64
 5   genres         755067 non-null  object
dtypes: float64(1), object(5)
memory usage: 40.3+ MB

In [188]:
df_title_basics_movies['titleType'].unique()

array(['movie', 'tvMovie'], dtype=object)

In [189]:
df_title_basics_movies = df_title_basics_movies.dropna(subset='primaryTitle').reset_index(drop=True)
df_title_basics_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755065 entries, 0 to 755064
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         755065 non-null  object
 1   titleType      755065 non-null  object
 2   primaryTitle   755065 non-null  object
 3   originalTitle  755065 non-null  object
 4   startYear      656510 non-null  float64
 5   genres         755065 non-null  object
dtypes: float64(1), object(5)
memory usage: 34.6+ MB

In [190]:
df_title_basics_movies[df_title_basics_movies['primaryTitle'].str.contains('Oriana')]

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
62976,tt0089739,movie,Oriana,Oriana,1985.0,"Drama,Mystery,Romance"
259070,tt11079080,tvMovie,Illuminate - Oriana Fallaci,Illuminate - Oriana Fallaci,2019.0,"Biography,Documentary"
455155,tt22497614,movie,Oriana Rises,Oriana Rises,2022.0,Horror
553118,tt32188222,movie,A MAN (Oriana Fallaci Book Adaptation),A MAN (Oriana Fallaci Book Adaptation),NaN,Romance
583929,tt3527790,movie,Oriana: I'll Die Standing on My Feet,Oriana: I'll Die Standing on My Feet,NaN,Drama
585028,tt3558992,tvMovie,L'Oriana,L'Oriana,2015.0,Biography

In [191]:
df_title_basics_movies[df_title_basics_movies['tconst']=='tt0103994']

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
73031,tt0103994,movie,Like Water for Chocolate,Como agua para chocolate,1992.0,"Drama,Romance"

In [103]:
# df_title_basics_movies.to_csv('df_title_basics_movies.csv', sep=';', index=False)
# !cp subset_moviessep.csv "drive/My Drive/"

### TMDB:On récupere les données complémentaires tmdb pour le productions_countries

Donwloaded csv from link : https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies
Then extraction of relevant columns

In [192]:
#https://www.nro.net/list-of-country-codes-in-the-lacnic-region/
country_code_list = ['AR','AW','BZ','BO','BR','CL','CO',
                     'CR','CU','DO','EC','SV','FK','GF',
                     'GT','GY','HT','HN','MX','AN','NI',
                     'PA','PY','PE','GS','SR','TT','UY','VE',
                     #'FR'
                     ]
###################################""
#
country_names = ['Argentina','Aruba','Bolivia','Brasil','Chile','Colombia',
                     'Costa Rica','Cuba','Dominican Republic','Ecuador','El Salvador',
                     'Guatemala',
                     'Guyana','Haiti','Honduras','Mexico',
                     'Nicaragua',
                     'Panama','Peru','Uruguay','Venezuela',
                     #'FR'
                     ]

In [193]:

url= "TMDB_movie_dataset_v11.csv"
df_tmdb = pd.read_csv(url,low_memory=False)
df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118015 entries, 0 to 1118014
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1118015 non-null  int64
 1   title                 1118002 non-null  object
 2   vote_average          1118015 non-null  float64
 3   vote_count            1118015 non-null  int64
 4   status                1118015 non-null  object
 5   release_date          939457 non-null   object
 6   revenue               1118015 non-null  int64
 7   runtime               1118015 non-null  int64
 8   adult                 1118015 non-null  bool
 9   backdrop_path         298523 non-null   object
 10  budget                1118015 non-null  int64
 11  homepage              118817 non-null   object
 12  imdb_id               597826 non-null   object
 13  original_language     1118015 non-null  object
 14  original_title        1118002 non-null  object
 15  overview              893573 non-null   object
 16  popularity            1118015 non-null  float64
 17  poster_path           769539 non-null   object
 18  tagline               157044 non-null   object
 19  genres                672906 non-null   object
 20  production_companies  506786 non-null   object
 21  production_countries  626201 non-null   object
 22  spoken_languages      644668 non-null   object
 23  keywords              305336 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 197.3+ MB

In [106]:
df_tmdb.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [11]:
df_tmdb['production_countries'].unique()

array(['United Kingdom, United States of America',
       'United States of America, United Kingdom',
       'United States of America', ...,
       'Greece, Mexico, United States of America', 'Switzerland, Tunisia',
       'Bulgaria, Germany, United States of America'], dtype=object)

In [194]:
#define df_tmdb_latam
df_tmdb_latam = pd.DataFrame()
#columns we want to keep
columns_to_keep =['imdb_id', 'popularity', 'poster_path', 'production_countries']
df_tmdb = df_tmdb.loc[:,columns_to_keep]
#on ne garde que les pays  dans country_code_list
# et on identifie les pays pour lesquels on n'a aucun film

#drop na in df_tmdb['production_countries'] #remove rows with missing production country
df_tmdb.dropna(subset=['production_countries'], inplace=True)       
for country_name in  country_names:
  mask = df_tmdb['production_countries'].str.contains(country_name)
  #concat
  if (df_tmdb_latam.empty):
    df_tmdb_latam = df_tmdb[mask].copy()
  else:
    df_tmdb_latam = pd.concat([df_tmdb_latam, df_tmdb[mask]])
df_tmdb_latam.reset_index(drop=True, inplace= True)
df_tmdb_latam.info()


df_tmdb_latam.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31303 entries, 0 to 31302
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               20145 non-null  object
 1   popularity            31303 non-null  float64
 2   poster_path           24969 non-null  object
 3   production_countries  31303 non-null  object
dtypes: float64(1), object(3)
memory usage: 978.3+ KB

,imdb_id,popularity,poster_path,production_countries
0,tt3011894,15.063,/pvSty5MCAxdj8LlAEXCDfM1YNOl.jpg,"Argentina, Spain"
1,tt1305806,17.242,/dkeAwfZzwL3WvToydE3CXiY80E0.jpg,"Argentina, Spain"
2,tt0168629,18.067,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,"Argentina, Denmark, Finland, France, Germany, ..."

In [13]:
df_tmdb_latam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31303 entries, 0 to 31302
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               20145 non-null  object
 1   popularity            31303 non-null  float64
 2   poster_path           24969 non-null  object
 3   production_countries  31303 non-null  object
dtypes: float64(1), object(3)
memory usage: 978.3+ KB

In [14]:
df_tmdb_latam['production_countries'].unique()

array(['Argentina, Spain',
       'Argentina, Denmark, Finland, France, Germany, Iceland, Italy, Netherlands, Norway, Sweden, United Kingdom, United States of America',
       'Argentina, Chile, France, Germany, Peru, United Kingdom, United States of America',
       ..., 'Canada, France, Venezuela', 'France, Lebanon, Venezuela',
       'Portugal, Spain, Venezuela'], dtype=object)

In [195]:

#Merge
#inner join pour garder uniquement les ratings pour les films qui sont dans le df

df_merged_movies= pd.merge(df_title_basics_movies,df_tmdb_latam, how= 'inner',left_on='tconst',right_on= 'imdb_id')
#drop imdb_id
df_merged_movies.drop(columns=['imdb_id'],inplace=True)
df_merged_movies.reset_index(drop=True, inplace=True)
# del(df_tmdb_latam)
# del(df_title_basics_movies)
#format year as integer
df_merged_movies.dropna(subset=['startYear'],inplace=True)
df_merged_movies['startYear'] = df_merged_movies['startYear'].astype(int)

display(df_merged_movies.head(3))
display(df_merged_movies.info())

# df_merged_movies.drop(columns= ['titleId','region'],inplace=True)
# df_merged_movies.info()

# #garder le titre en FR (title) s'il n'est pas null, sinon primary title
# df_merged_movies['title'] = df_merged_movies['title'].fillna(df_merged_movies['primaryTitle'])
# df_merged_movies.info()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,popularity,poster_path,production_countries
0,tt0007627,movie,Alma de sacrificio,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico
1,tt0007638,movie,El amor que huye,El amor que huye,1917,Drama,1.400,NaN,Mexico
2,tt0007646,movie,El apóstol,El apóstol,1917,"Animation,Comedy,Drama",0.840,/xOyr2LTVbHiAiHY8mLNGqt68Llg.jpg,Argentina

<class 'pandas.core.frame.DataFrame'>
Index: 14933 entries, 0 to 15227
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                14933 non-null  object
 1   titleType             14933 non-null  object
 2   primaryTitle          14933 non-null  object
 3   originalTitle         14933 non-null  object
 4   startYear             14933 non-null  int64
 5   genres                14933 non-null  object
 6   popularity            14933 non-null  float64
 7   poster_path           12810 non-null  object
 8   production_countries  14933 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.1+ MB

None

In [196]:
df_merged_movies[df_merged_movies['primaryTitle']=='Oriana']

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,popularity,poster_path,production_countries
1513,tt0089739,movie,Oriana,Oriana,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France"

## Title akas - Maybe not needed if we keep original title only, but brazilian movies !
(traduction des titres en Espagnol ? plutot qu'en français? ou les deux)
Il ya très peu de titres traduits en anglais 3697/14993

Original title (original language), primaryTitle (sometimes in english)

In [ ]:
# url = 'https://datasets.imdbws.com/title.akas.tsv.gz'

# chunk_size = 10000
# iterator = pd.read_csv(url, sep='\t', compression='gzip', iterator=True, chunksize=chunk_size, na_values=["\\N"])

# cleaned_chunks = []
# for chunk in iterator:

#     if 'attributes' in chunk.columns:
#         chunk.drop(columns=['attributes'], inplace=True)      #drop attributes

#     if 'types' in chunk.columns:
#         #Peggi
#         chunk.drop(chunk[chunk['types']!='imdbDisplay'].index, inplace=True)      #drop rows with types different from imdbDisplay
#          ##
#         chunk.drop(columns=['types'], inplace=True)      #drop types

#     if 'isOriginalTitle' in chunk.columns:
#         chunk.drop(chunk[chunk['isOriginalTitle'] == 1].index, inplace=True)      #drop rows with isOriginalTitle

#     if 'region' in chunk.columns:
#         #keep all raws whose region is in country_code_list
#         region_list = ['US' # we keep only the title used in the US
#                     #     'AR','AW','BZ','BO','BR','CL','CO',
#                     #   'CR','CU','DO','EC','SV','FK','GF',
#                     #   'GT','GY','HT','HN','MX','AN','NI',
#                     #   'PA','PY','PE','GS','SR','TT','UY','VE'
#                       ]
#         chunk = chunk.loc[chunk['region'].isin(region_list)]

#     cleaned_chunks.append(chunk)

# #on concatene
# full_clean_title_akas = pd.concat(cleaned_chunks, ignore_index=True)

In [20]:
# full_clean_title_akas['region'] = full_clean_title_akas['region'].astype(str)
# full_clean_title_akas = full_clean_title_akas.drop(columns=['ordering','language','isOriginalTitle'])
# full_clean_title_akas.head()

     titleId                                        title region
0  tt0000001                                   Carmencita     US
1  tt0000003                                 Poor Pierrot     US
2  tt0000005                             Blacksmith Scene     US
3  tt0000006                            Chinese Opium Den     US
4  tt0000007  Corbett and Courtney Before the Kinetograph     US

In [21]:
# #Merge
# #inner join pour garder tous les films qui sont dans le df
# df_merged_movies_2= pd.merge(df_merged_movies,full_clean_title_akas, how= 'left',left_on='tconst',right_on= 'titleId')
# #drop title_id
# df_merged_movies_2.drop(columns=['titleId'],inplace=True)
# df_merged_movies_2.reset_index(drop=True, inplace=True)
# del(full_clean_title_akas)

# display(df_merged_movies_2.head(3))
# display(df_merged_movies_2.info())

,tconst,titleType,primaryTitle,startYear,genres,popularity,poster_path,production_countries,title,region
0,tt0007627,movie,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,NaN,NaN
1,tt0007638,movie,El amor que huye,1917,Drama,1.400,NaN,Mexico,NaN,NaN
2,tt0007646,movie,El apóstol,1917,"Animation,Comedy,Drama",0.840,/xOyr2LTVbHiAiHY8mLNGqt68Llg.jpg,Argentina,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14994 entries, 0 to 14993
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                14994 non-null  object
 1   titleType             14994 non-null  object
 2   primaryTitle          14994 non-null  object
 3   startYear             14994 non-null  int64
 4   genres                14994 non-null  object
 5   popularity            14994 non-null  float64
 6   poster_path           12869 non-null  object
 7   production_countries  14994 non-null  object
 8   title                 3697 non-null   object
 9   region                3697 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ MB

None

In [22]:
# df_merged_movies_2.isna().sum()

tconst                      0
titleType                   0
primaryTitle                0
startYear                   0
genres                      0
popularity                  0
poster_path              2125
production_countries        0
title                   11297
region                  11297
dtype: int64

## On récupère title principals 
(actors and actresses, writer, director)

In [198]:
url = 'https://datasets.imdbws.com/title.principals.tsv.gz'
chunk_size = 10000
iterator = pd.read_csv(url, sep='\t', compression='gzip', iterator=True, chunksize=chunk_size, na_values=["\\N"])

In [199]:
cleaned_chunks = []
for chunk in iterator:
    # numeric_cols = chunk.select_dtypes(include=['number']).columns    #selectionner les colonne numerique
    if 'job' in chunk.columns:
        chunk.drop(columns=['job'], inplace=True)      #drop job

    #on supprime la colonne knownForTitles
    chunk = chunk.loc[(chunk['category'] =='actor') | (chunk['category']== 'actress') | (chunk['category']== 'director')].copy()
    chunk.drop(columns=['ordering','characters'], inplace = True) #we keep 'category'    
    #############
    cleaned_chunks.append(chunk)
    del(chunk)

In [201]:

subset_actors_directors = pd.concat(cleaned_chunks, ignore_index=True)      #concaterner mes chunks pour avoir un full dataset actors clean
print(subset_actors_directors.duplicated().value_counts())

False    43269077
True      1450537
Name: count, dtype: int64

In [202]:
titles = subset_actors_directors["tconst"]
subset_actors_directors[titles.isin(titles[titles.duplicated()])].sort_values("tconst")

             tconst     nconst  category
4         tt0000005  nm0443482     actor
5         tt0000005  nm0653042     actor
6         tt0000007  nm0179163     actor
7         tt0000007  nm0183947     actor
8         tt0000007  nm0005690  director
...             ...        ...       ...
44719599  tt9916880  nm1483166     actor
44719598  tt9916880  nm1483166     actor
44719597  tt9916880  nm2784764   actress
44719604  tt9916880  nm0286175     actor
44719613  tt9916880  nm0996406  director

[43003195 rows x 3 columns]

In [203]:
subset_actors_directors.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44719614 entries, 0 to 44719613
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   tconst    44719614 non-null  object
 1   nconst    44719614 non-null  object
 2   category  44719614 non-null  object
dtypes: object(3)
memory usage: 1023.6+ MB

In [204]:

#On supprime les doublons
subset_actors_directors= subset_actors_directors.drop_duplicates(subset=None, keep="first", inplace=False)
subset_actors_directors.reset_index(drop=True, inplace=True)

subset_actors_directors.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43269077 entries, 0 to 43269076
Data columns (total 3 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   tconst    43269077 non-null  object
 1   nconst    43269077 non-null  object
 2   category  43269077 non-null  object
dtypes: object(3)
memory usage: 990.4+ MB

In [205]:
subset_actors_directors.head()

      tconst     nconst  category
0  tt0000001  nm0005690  director
1  tt0000002  nm0721526  director
2  tt0000003  nm0721526  director
3  tt0000004  nm0721526  director
4  tt0000005  nm0443482     actor

In [206]:
# inner join? it seems enough as we only want movies with actors ;p
# df_merged_movies_3 = pd.merge(df_merged_movies_2,subset_actors_directors, how= 'inner',on='tconst')
df_merged_movies_3 = pd.merge(df_merged_movies,subset_actors_directors, how= 'inner',on='tconst')

# del(subset_actors_directors)

df_merged_movies_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129000 entries, 0 to 128999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   tconst                129000 non-null  object
 1   titleType             129000 non-null  object
 2   primaryTitle          129000 non-null  object
 3   originalTitle         129000 non-null  object
 4   startYear             129000 non-null  int64
 5   genres                129000 non-null  object
 6   popularity            129000 non-null  float64
 7   poster_path           112313 non-null  object
 8   production_countries  129000 non-null  object
 9   nconst                129000 non-null  object
 10  category              129000 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.8+ MB

In [209]:

df_merged_movies_3.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,popularity,poster_path,production_countries,nconst,category
0,tt0007627,movie,Alma de sacrificio,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0220230,actress
1,tt0007627,movie,Alma de sacrificio,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0846016,actor
2,tt0007627,movie,Alma de sacrificio,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0704415,actor
3,tt0007627,movie,Alma de sacrificio,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0749618,actress
4,tt0007627,movie,Alma de sacrificio,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0035999,actor

In [211]:
# Let's concatenate original title and primary Title if they are different, so that the user can have both
def concat_titles(row):
    originalTitle = row['originalTitle']
    primaryTitle = row['primaryTitle']
    if originalTitle != primaryTitle:
        return originalTitle + ' - ' + primaryTitle
    else:
        return originalTitle 
df_merged_movies_3['fullTitle'] = df_merged_movies_3.apply(concat_titles, axis=1)

In [ ]:
df_merged_movies_3.drop(columns=['originalTitle','primaryTitle'],inplace=True)

In [216]:
df_merged_movies_3.head()

,tconst,titleType,startYear,genres,popularity,poster_path,production_countries,nconst,category,fullTitle
0,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0220230,actress,Alma de sacrificio
1,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0846016,actor,Alma de sacrificio
2,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0704415,actor,Alma de sacrificio
3,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0749618,actress,Alma de sacrificio
4,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0035999,actor,Alma de sacrificio

## Name basics

In [217]:
url = 'https://datasets.imdbws.com/name.basics.tsv.gz'
df_name_basicschunk_size = 1000
iterator = pd.read_csv(url, sep='\t', compression='gzip', iterator=True, chunksize=chunk_size, na_values=["\\N"])

In [218]:
cleaned_chunks = []

for chunk in iterator:
    if 'primaryName' in chunk.columns:
        chunk.dropna(subset=['primaryName'], inplace=True)

    # if 'primaryProfession' in chunk.columns:
        # chunk.dropna(subset=['primaryProfession'], inplace=True)
    chunk.drop(['knownForTitles','deathYear','birthYear','primaryProfession'], axis=1, inplace=True)
    # chunk['birthYear'] = pd.to_datetime(chunk['birthYear'], format='%Y', errors='coerce')

    cleaned_chunks.append(chunk)

In [219]:
df_name_basics = pd.concat(cleaned_chunks, ignore_index=True)
display(df_name_basics.head(10))
print(df_name_basics.info())
print(df_name_basics.describe())

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman
5  nm0000006   Ingrid Bergman
6  nm0000007  Humphrey Bogart
7  nm0000008    Marlon Brando
8  nm0000009   Richard Burton
9  nm0000010     James Cagney

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13886829 entries, 0 to 13886828
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   nconst       object
 1   primaryName  object
dtypes: object(2)
memory usage: 211.9+ MB
None
           nconst primaryName
count    13886829    13886829
unique   13886829    10669548
top     nm9993719        Alex
freq            1         523

In [220]:

# jointure  name_basics avec df_merged_series, how = left : on garde toutes les lignes de merged_movies_3 ? 
df_merged_movies_4 = pd.merge(df_merged_movies_3,df_name_basics, how= 'left',on='nconst') #left_on='a_id',right_on='nconst')

df_merged_movies_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129000 entries, 0 to 128999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   tconst                129000 non-null  object
 1   titleType             129000 non-null  object
 2   startYear             129000 non-null  int64
 3   genres                129000 non-null  object
 4   popularity            129000 non-null  float64
 5   poster_path           112313 non-null  object
 6   production_countries  129000 non-null  object
 7   nconst                129000 non-null  object
 8   category              129000 non-null  object
 9   fullTitle             129000 non-null  object
 10  primaryName           129000 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.8+ MB

In [221]:
df_merged_movies_4.head()

,tconst,titleType,startYear,genres,popularity,poster_path,production_countries,nconst,category,fullTitle,primaryName
0,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0220230,actress,Alma de sacrificio,Mimí Derba
1,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0846016,actor,Alma de sacrificio,Julio Taboada
2,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0704415,actor,Alma de sacrificio,Salvador Quiroz
3,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0749618,actress,Alma de sacrificio,Emilia Ruiz del Castillo
4,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0035999,actor,Alma de sacrificio,Salvador Arnaldo

In [224]:
df_merged_movies_4[df_merged_movies_4['fullTitle']=='Oriana']

,tconst,titleType,startYear,genres,popularity,poster_path,production_countries,nconst,category,fullTitle,primaryName
15814,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0920190,actress,Oriana,Doris Wells
15815,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0798866,actress,Oriana,Daniela Silverio
15816,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0108539,actor,Oriana,Rafael Briceño
15817,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0096587,actress,Oriana,Mirtha Borges
15818,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0647495,actress,Oriana,Maya Oloe
15819,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0745699,actor,Oriana,Philippe Rouleau
15820,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0893417,actress,Oriana,Claudia Venturini
15821,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0133863,actress,Oriana,Martha Canelon
15822,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0145126,actor,Oriana,Luis Armando Castillo
15823,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0578572,actor,Oriana,Asdrúbal Meléndez
15824,tt0089739,movie,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France",nm0868643,director,Oriana,Fina Torres

In [225]:
df_merged_movies_4 = df_merged_movies_4.drop_duplicates(ignore_index=True)
df_merged_movies_4.head()

,tconst,titleType,startYear,genres,popularity,poster_path,production_countries,nconst,category,fullTitle,primaryName
0,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0220230,actress,Alma de sacrificio,Mimí Derba
1,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0846016,actor,Alma de sacrificio,Julio Taboada
2,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0704415,actor,Alma de sacrificio,Salvador Quiroz
3,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0749618,actress,Alma de sacrificio,Emilia Ruiz del Castillo
4,tt0007627,movie,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,nm0035999,actor,Alma de sacrificio,Salvador Arnaldo

In [ ]:
# titles = df_merged_movies_4["primaryTitle"]
# df_merged_movies_4[titles.isin(titles[titles.duplicated()])].sort_values("primaryTitle")

In [226]:
df_merged_movies_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121336 entries, 0 to 121335
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   tconst                121336 non-null  object
 1   titleType             121336 non-null  object
 2   startYear             121336 non-null  int64
 3   genres                121336 non-null  object
 4   popularity            121336 non-null  float64
 5   poster_path           104980 non-null  object
 6   production_countries  121336 non-null  object
 7   nconst                121336 non-null  object
 8   category              121336 non-null  object
 9   fullTitle             121336 non-null  object
 10  primaryName           121336 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.2+ MB

In [227]:
df_merged_movies_4['tconst'].nunique()

13941

In [231]:
columns_to_keep = ['tconst','titleType','fullTitle',
                    'startYear','genres',
                    'popularity','poster_path',
                    'production_countries'
                    ]
# Identify duplicates based on specified columns
duplicates = df_merged_movies_4[df_merged_movies_4.duplicated(subset=columns_to_keep, keep=False)]

# Group by the specified columns and count occurrences
duplicate_summary = duplicates.groupby(columns_to_keep).size().reset_index(name='count')

# Display the summary of duplicates
display(duplicate_summary)

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,count
0,tt0007627,movie,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,11
1,tt0007888,movie,En defensa propia,1917,Drama,0.651,/w0KeSUDAqofWLZColJTE8ktW9Yl.jpg,Mexico,11
2,tt0007958,movie,Flor de durazno - Peach Blossom,1917,Drama,0.600,/5IwfGMcwBXhtGDRWJo5X5mqQPu5.jpg,Argentina,11
3,tt0008613,movie,La soñadora,1917,Romance,0.901,/hKplVE8f0FGRLBaX8RLij8WPJQ9.jpg,Mexico,12
4,tt0008662,movie,Tepeyac,1917,Drama,0.600,/eccHRe1Tt1sv1pMcnPNFOZNsZS.jpg,Mexico,12
...,...,...,...,...,...,...,...,...,...
10768,tt9881924,movie,El cuidado de los otros,2019,Drama,0.840,/qzdh0Ho7MPm5nZohzdwyGCYFLv.jpg,Argentina,11
10769,tt9887134,movie,La cuenca de los ríos de piedra,2019,Documentary,0.600,/iYki3FHM7oJpzYQjcUNZtOpUMfv.jpg,Mexico,5
10770,tt9893012,movie,Los minutos negros - The Black Minutes,2021,"Crime,Thriller",1.400,/gqQJJVk9zDkXZcebV4qP4A1Fl5Z.jpg,Mexico,11
10771,tt9894880,movie,Adiós a Cali,1990,Documentary,0.600,/kSJQh6pFlt2D58XRSaGvUk5H0BQ.jpg,Colombia,5
10772,tt9916362,movie,Akelarre - Coven,2020,"Drama,History",9.421,/lyB3yoQbGO3LiCVuSOD2g17Hr6p.jpg,"Argentina, Spain, France",11

In [232]:
# Get total number of duplicates
total_duplicates = duplicate_summary['count'].sum()
print(f'Total number of duplicated entries: {total_duplicates}')

Total number of duplicated entries: 103880

In [233]:
df_merged_movies_4.columns

Index(['tconst', 'titleType', 'startYear', 'genres', 'popularity',
       'poster_path', 'production_countries', 'nconst', 'category',
       'fullTitle', 'primaryName'],
      dtype='object')

In [234]:
#regrouper par nom de film créér une colonne avec category=='actors' or 'actress'
columns_to_keep = ['tconst','titleType','fullTitle',
                    'startYear','genres',
                    'popularity','poster_path',
                    'production_countries'
                    ]
# Regroupez par les colonnes spécifiées et concaténez les noms des acteurs et directeurs
mask_both_actors = (df_merged_movies_4['category'] == 'actor' ) | (df_merged_movies_4['category'] == 'actress')
df_grouped = df_merged_movies_4.groupby(columns_to_keep, as_index=False).agg(
    actors=('primaryName', lambda x: ', '.join(x[mask_both_actors])),
    directors=('primaryName', lambda x: ', '.join(x[df_merged_movies_4['category'] == 'director']))
)

# del(df_merged_movies)
df_grouped.head()

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,actors,directors
0,tt0007627,movie,Alma de sacrificio,1917,"Drama,Romance",1.151,/sAwbE4IhwnTdRqODTDI6PCFWdZ3.jpg,Mexico,"Mimí Derba, Julio Taboada, Salvador Quiroz, Em...",Joaquín Coss
1,tt0007646,movie,El apóstol,1917,"Animation,Comedy,Drama",0.840,/xOyr2LTVbHiAiHY8mLNGqt68Llg.jpg,Argentina,,Quirino Cristiani
2,tt0007888,movie,En defensa propia,1917,Drama,0.651,/w0KeSUDAqofWLZColJTE8ktW9Yl.jpg,Mexico,"Mimí Derba, María Caballé, Julio Taboada, Cata...",Joaquín Coss
3,tt0007958,movie,Flor de durazno - Peach Blossom,1917,Drama,0.600,/5IwfGMcwBXhtGDRWJo5X5mqQPu5.jpg,Argentina,"Carlos Gardel, Ilde Pirovano, Argentino Gómez,...",Francisco Defilippis Novoa
4,tt0008613,movie,La soñadora,1917,Romance,0.901,/hKplVE8f0FGRLBaX8RLij8WPJQ9.jpg,Mexico,"Mimí Derba, Eduardo Arozamena, Nelly Fernández...","Eduardo Arozamena, Enrique Rosas"

In [235]:
df_grouped[df_grouped['fullTitle']=='Oriana']

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,actors,directors
1295,tt0089739,movie,Oriana,1985,"Drama,Mystery,Romance",1.665,/uNcJZtYAriwBrCGzIVHWq26Je4F.jpg,"Venezuela, France","Doris Wells, Daniela Silverio, Rafael Briceño,...",Fina Torres

In [236]:
df_grouped['tconst'].nunique()

11869

In [237]:
print(df_grouped.duplicated().value_counts())

False    11873
Name: count, dtype: int64

In [238]:
df_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11873 entries, 0 to 11872
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                11873 non-null  object
 1   titleType             11873 non-null  object
 2   fullTitle             11873 non-null  object
 3   startYear             11873 non-null  int64
 4   genres                11873 non-null  object
 5   popularity            11873 non-null  float64
 6   poster_path           11873 non-null  object
 7   production_countries  11873 non-null  object
 8   actors                11873 non-null  object
 9   directors             11873 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 927.7+ KB

In [247]:
df_grouped[df_grouped['fullTitle'].str.contains('Como agua')]

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,actors,directors
1485,tt0103994,movie,Como agua para chocolate - Like Water for Choc...,1992,"Drama,Romance",14.354,/itwUdMqLmPfhtGJ44hiDxkqZhiq.jpg,Mexico,"Marco Leonardi, Lumi Cavazos, Regina Torné, Ma...",Alfonso Arau
5314,tt0393168,movie,Como agua pa' longaniza,1996,Comedy,1.252,/sOweiYjJSTY4ZvEb2RUjzLzWuZj.jpg,Mexico,"Rafael Inclán, Lucero Reynoso, Alejandro Guce,...",

## Title ratings

In [240]:
url_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
df_title_ratings = pd.read_csv(url_ratings, sep='\t', compression='gzip', na_values=["\\N"])

#inner join pour garder uniquement les ratings pour les films qui sont dans le df
df_merged_popular = pd.merge(df_grouped,df_title_ratings, how= 'inner',on='tconst')

# del(df_title_ratings)
# del(df_grouped)
display(df_merged_popular.head(3))
display(df_merged_popular.info())

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,actors,directors,averageRating,numVotes
0,tt0007646,movie,El apóstol,1917,"Animation,Comedy,Drama",0.84,/xOyr2LTVbHiAiHY8mLNGqt68Llg.jpg,Argentina,,Quirino Cristiani,7.1,77
1,tt0007958,movie,Flor de durazno - Peach Blossom,1917,Drama,0.60,/5IwfGMcwBXhtGDRWJo5X5mqQPu5.jpg,Argentina,"Carlos Gardel, Ilde Pirovano, Argentino Gómez,...",Francisco Defilippis Novoa,6.1,31
2,tt0008662,movie,Tepeyac,1917,Drama,0.60,/eccHRe1Tt1sv1pMcnPNFOZNsZS.jpg,Mexico,"Roberto Arroyo Carrillo, Pilar L. Cotta, Beatr...","Carlos E. González, José Manuel Ramos, Fernand...",5.8,70

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9855 entries, 0 to 9854
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                9855 non-null   object
 1   titleType             9855 non-null   object
 2   fullTitle             9855 non-null   object
 3   startYear             9855 non-null   int64
 4   genres                9855 non-null   object
 5   popularity            9855 non-null   float64
 6   poster_path           9855 non-null   object
 7   production_countries  9855 non-null   object
 8   actors                9855 non-null   object
 9   directors             9855 non-null   object
 10  averageRating         9855 non-null   float64
 11  numVotes              9855 non-null   int64
dtypes: float64(2), int64(2), object(8)
memory usage: 924.0+ KB

None

In [241]:
# Identify duplicates based on specified columns
duplicates = df_merged_popular[df_merged_popular.duplicated(subset='tconst', keep=False)]

# Group by the specified columns and count occurrences
duplicate_summary = duplicates.groupby('tconst').size().reset_index(name='count')

# Display the summary of duplicates
display(duplicate_summary)

      tconst  count
0  tt0130927      2

In [248]:
df_merged_clean= df_merged_popular.drop_duplicates(subset='fullTitle').reset_index(drop=True)

In [249]:
df_merged_clean['genres'] = df_merged_clean['genres'].str.replace(',',' ')
df_merged_clean['actors'] = df_merged_clean['actors'].str.replace(',',' ')
df_merged_clean['directors'] = df_merged_clean['directors'].str.replace(',',' ')

In [250]:
df_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                9729 non-null   object
 1   titleType             9729 non-null   object
 2   fullTitle             9729 non-null   object
 3   startYear             9729 non-null   int64
 4   genres                9729 non-null   object
 5   popularity            9729 non-null   float64
 6   poster_path           9729 non-null   object
 7   production_countries  9729 non-null   object
 8   actors                9729 non-null   object
 9   directors             9729 non-null   object
 10  averageRating         9729 non-null   float64
 11  numVotes              9729 non-null   int64
dtypes: float64(2), int64(2), object(8)
memory usage: 912.2+ KB

## Ecriture du df trié par popularité dans un fichier csv

In [251]:
df_merged_sorted= df_merged_clean.sort_values(by=['averageRating','numVotes'], ascending=False)

# df_merged_popular.to_csv("grouped_movies_latam_ML.csv",index=False,sep =';')

### Preprocessing for ML

In [254]:
# we choose to use the primaryTitle rather then the title  with translation
def combine_features(row):
    
    return row['fullTitle']+' '+row['genres']+' '+row['actors'] +' '+row['directors']

def create_feature_columns(df):
    df['combined_features'] = df.apply(combine_features, axis = 1)
    df.reset_index(drop=True, inplace=True)
    df['index'] = df.index
    return df

In [255]:
df_merged_pop_features = create_feature_columns(df_merged_sorted)

In [256]:
df_merged_pop_features.head()

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,actors,directors,averageRating,numVotes,combined_features,index
0,tt0387119,movie,Cholos vs. narcos,2002,Action,0.600,/syuHk0A7rI0RARpuaHyRJoJqebG.jpg,Mexico,Fernando Sáenz Flavio Peniche Valentin Truji...,,9.8,8,Cholos vs. narcos Action Fernando Sáenz Flavi...,0
1,tt21994076,movie,Vicuna Salvation,2023,Documentary,1.214,/zCBzvMJvG92Yggz222dw1RW6d60.jpg,Peru,,Luis Ara,9.6,30,Vicuna Salvation Documentary Luis Ara,1
2,tt11373548,movie,Undocumented Unafraid,2020,Documentary,0.600,/tMF32BDdk0IC5pojPHaTHwON6Fk.jpg,"Mexico, United States of America",Milton Benitez,Arturo Pulido,9.6,15,Undocumented Unafraid Documentary Milton Benit...,2
3,tt1669776,movie,1/20,2010,Comedy Drama Family,0.600,/mmWoVkisxzR4kMOIQE910cwz67c.jpg,Mexico,Pete Aka Bmske Patrick Aleph Humberto Altef ...,Gerardo del Castillo Ramirez,9.6,9,1/20 Comedy Drama Family Pete Aka Bmske Patri...,3
4,tt10235118,movie,Las Sanadoras,2019,Documentary,0.600,/kLqJR6vTtiE35BsYSltDXbVB58Z.jpg,"Chile, Mexico",Cecilia Alvarado,Rodrigo Occelli,9.4,28,Las Sanadoras Documentary Cecilia Alvarado Rod...,4

In [258]:
df_merged_pop_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                9729 non-null   object
 1   titleType             9729 non-null   object
 2   fullTitle             9729 non-null   object
 3   startYear             9729 non-null   int64
 4   genres                9729 non-null   object
 5   popularity            9729 non-null   float64
 6   poster_path           9729 non-null   object
 7   production_countries  9729 non-null   object
 8   actors                9729 non-null   object
 9   directors             9729 non-null   object
 10  averageRating         9729 non-null   float64
 11  numVotes              9729 non-null   int64
 12  combined_features     9729 non-null   object
 13  index                 9729 non-null   int64
dtypes: float64(2), int64(3), object(9)
memory usage: 1.0+ MB

In [257]:
df_merged_pop_features['titleType'].unique()

array(['movie', 'tvMovie'], dtype=object)

In [259]:
titles = df_merged_pop_features["fullTitle"]
df_merged_pop_features[titles.isin(titles[titles.duplicated()])].sort_values("fullTitle")

Empty DataFrame
Columns: [tconst, titleType, fullTitle, startYear, genres, popularity, poster_path, production_countries, actors, directors, averageRating, numVotes, combined_features, index]
Index: []

In [260]:
df_merged_pop_features['fullTitle'].duplicated().value_counts()

fullTitle
False    9729
Name: count, dtype: int64

In [261]:
df_merged_pop_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                9729 non-null   object
 1   titleType             9729 non-null   object
 2   fullTitle             9729 non-null   object
 3   startYear             9729 non-null   int64
 4   genres                9729 non-null   object
 5   popularity            9729 non-null   float64
 6   poster_path           9729 non-null   object
 7   production_countries  9729 non-null   object
 8   actors                9729 non-null   object
 9   directors             9729 non-null   object
 10  averageRating         9729 non-null   float64
 11  numVotes              9729 non-null   int64
 12  combined_features     9729 non-null   object
 13  index                 9729 non-null   int64
dtypes: float64(2), int64(3), object(9)
memory usage: 1.0+ MB

### Add imdb link to  title page on imdb site

In [263]:
df_merged_pop_features['imdb_link'] = df_merged_pop_features['tconst'].apply( lambda tconst: f'https://www.imdb.com/title/tt{tconst}/')

In [265]:
df_merged_pop_features.head(3)

,tconst,titleType,fullTitle,startYear,genres,popularity,poster_path,production_countries,actors,directors,averageRating,numVotes,combined_features,index,imdb_link
0,tt0387119,movie,Cholos vs. narcos,2002,Action,0.600,/syuHk0A7rI0RARpuaHyRJoJqebG.jpg,Mexico,Fernando Sáenz Flavio Peniche Valentin Truji...,,9.8,8,Cholos vs. narcos Action Fernando Sáenz Flavi...,0,https://www.imdb.com/title/tttt0387119/
1,tt21994076,movie,Vicuna Salvation,2023,Documentary,1.214,/zCBzvMJvG92Yggz222dw1RW6d60.jpg,Peru,,Luis Ara,9.6,30,Vicuna Salvation Documentary Luis Ara,1,https://www.imdb.com/title/tttt21994076/
2,tt11373548,movie,Undocumented Unafraid,2020,Documentary,0.600,/tMF32BDdk0IC5pojPHaTHwON6Fk.jpg,"Mexico, United States of America",Milton Benitez,Arturo Pulido,9.6,15,Undocumented Unafraid Documentary Milton Benit...,2,https://www.imdb.com/title/tttt11373548/

In [266]:
df_merged_pop_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tconst                9729 non-null   object
 1   titleType             9729 non-null   object
 2   fullTitle             9729 non-null   object
 3   startYear             9729 non-null   int64
 4   genres                9729 non-null   object
 5   popularity            9729 non-null   float64
 6   poster_path           9729 non-null   object
 7   production_countries  9729 non-null   object
 8   actors                9729 non-null   object
 9   directors             9729 non-null   object
 10  averageRating         9729 non-null   float64
 11  numVotes              9729 non-null   int64
 12  combined_features     9729 non-null   object
 13  index                 9729 non-null   int64
 14  imdb_link             9729 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.1+ MB

## Create final csv file for ML

In [267]:

df_merged_pop_features.to_csv("grouped_movies_latam_ML.csv",index=False,sep =';')

# Test

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
def init_model(features_column):
  #create a new column with combined features
  # df['combined_features'] = df.apply(combine_features, axis = 1)
  # df.reset_index(drop=True, inplace=True)
  # df['index'] = df.index

  #fit and transform the count vectorizer model
  cv = CountVectorizer()
  count_matrix = cv.fit_transform(features_column)
  cosine_sim = cosine_similarity(count_matrix)
  return cosine_sim

similarity = init_model(df_merged_sorted['combined_features'])